[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

selenium = "*"
boto3 = "*"
requests = "*"
numpy = "*"
pandas = "*"
scipy = "*"
plotly = "*"
jupyter = "*"




[dev-packages]
ipython = "*"















[requires]
python_version = "3.6"
